body{
    margin: 0;
    padding: 30px;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    max-width: 900px;
    margin: auto;
}

.bg-3{
    background: #e0e0e0;
    padding: 30px;

}

.frame{
    display: grid;
    grid-template-columns: 40px auto 40px;
}

.side{
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.25);
    font-weight: 600;
    transform: rotate(-90deg);
}

.page-3{
    width: 280px;
}

.block{
    background: #c9c9c9;
    margin-bottom: 10px;
    padding: 6px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.logo-3{
    height: 30px;
}
.
