*{box-sizing:border-box;font-family:Segoe UI;margin:0;padding:0}
body{
  background:linear-gradient(135deg,#0f0c29,#302b63,#24243e);
  color:white;
  height:100vh;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
}
.screen{
  display:none;
  height:100vh;
  width:100vw;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.active{display:flex}

button{
  padding:14px 36px;
  margin:12px;
  font-size:20px;
  border:none;
  border-radius:30px;
  cursor:pointer;
  background:linear-gradient(45deg,cyan,hotpink);
  box-shadow:0 0 20px cyan;
}
button.locked{
  background:#555;
  box-shadow:none;
  cursor:not-allowed;
}

/* GAME */
.board{
  display:grid;
  grid-template-columns:repeat(3,120px);
  gap:15px;
  margin-top:20px;
}
.cell{
  width:120px;height:120px;
  background:#111;
  border-radius:16px;
  font-size:60px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
}
.x{color:cyan}
.o{color:hotpink}
svg{position:absolute;pointer-events:none;}

/* CONFETTI */
.confetti{
  position:absolute;
  width:8px;
  height:8px;
  animation:fall 4s linear forwards;
}
@keyframes fall{
  0%   {transform:translateY(0) rotate(0deg); opacity:1;}
  100% {transform:translateY(110vh) rotate(720deg); opacity:0;}
}