body{
    font-family: Arial, sans-serif;
    background-color: blueviolet;
    margin: 0;
    padding: 10px;
}
.pricing{
    display: flex;
    justify-content: center;
    gap:25px;

}

.card h3{
    margin-bottom: 10px;

}
.price {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
}
.card ul{
    list-style: none;
    padding: 0;
    margin: 15px 0;
}
.card ul li{
    margin: 8px 0;
}
.card button{
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: white;
    cursor: pointer;
}
.card-highlight:hover{
transform: scale(1.05);
box-shadow: 0 8px 20px rgba(0, 0,0, 0.15);

}
.highlight{
    border: 2px solid black;
    transform: scale(1.05);
}
.card-highlight{
    background: pink;
    width: 200px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-highlight button{
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
}

.pricing-container{
    display: flex;
    justify-content: center;
    gap:20px
}