@font-face {
    font-family: Melodrama;
    src: url("assets/Melodrama-Semibold.woff");
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Melodrama;
}

body{
    background: black;
    color: white;
}

.section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    font-size: 8vw;
    text-transform: uppercase;
}

.text{
    font-size: 3.3vw;
    max-width: 900px;

}