/* @tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pop {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
.animate-pop {
  animation: pop 0.3s ease-out;
}
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0px); }
}

@keyframes reveal {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-reveal {
  animation: reveal 0.35s ease-out;
}

.bg-move {
  background-size: 400% 400%;
  animation: bgMove 10s ease infinite;
}

@keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
